<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}Home{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('views.home')}}">SR APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('views.home')}}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('views.dashboard')}}">Dashboard</a>
            </li>
            <a class="nav-link active" aria-current="page" href="{{url_for('auth.logout')}}">logout</a>
            </li>
            <li class="nav-item">
            {% else %}
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('auth.sigup')}}">sigin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.login')}}">login</a>
            </li>
            <li class="nav-item dropdown">
            {% endif %}
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>
    {% with message = get_flashed_messages(with_categories = true) %}
    {% if message %}
        {% for c, m in message %}
        {% if c == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{m}}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">

                </span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content%}
    {% endblock %}
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>